.container {
  min-height: 100vh;
  font-family: "Assistant", sans-serif;
  color: #0046a5;
}

.trainerWrapper {
  margin-top: 15px;
  padding: 10px;
}

.inputCommon {
  padding: 9px;
  border-radius: 8px;
  border: 0.1px solid #facc15;
  background: #facc15;
}

/* === כפתור סוגי אימון === */
.typesBtn {
  background: #facc15;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.2s ease;
  color: #0046a5;
  width: 163px;
}

/* === תפריט סוגי אימון === */
.typesDropdown {
  margin-top: 10px;
  background: #facc15;
  border: 3px solid #0046a5;
  padding: 15px;
  border-radius: 12px;
  width: 97%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

/* === כל Row של צ'קבוקס === */
.typeCheckbox {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.checkInput {
  transform: scale(1.1);
}

/* === הטבלה === */
.pdTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.pdTable th {
  background: #facc15;
  padding: 15px;
  border-bottom: 2px solid #facc15;
}

.todayHeader {
  background: #0046a5 !important;
  border-bottom: 2px solid #0046a5 !important;
  color: #facc15;
}

.pdTable td {
  border: 2px solid #0046a5;
  background: #fffef6;
  text-align: center;
  padding: 15px;
}

.pdTrainingBox {
  background: #facc15;
  border: 2px solid #0046a5;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}



/* === כפתורים === */
.pdAddBtnSmall {
  background: #facc15;
  border: none;
  padding: 8px 14px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  color: #0046a5;
}

.deleteBtn {
  border:none;
  padding: 6px 12px;
  color: #0046a5;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #facc15;
  width: fit-content;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 10px;
  
}

.pdSaveWrapper {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pdSaveBtn {
  background: #facc15;
  color: #0046a5;
  border: none;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: bold;
}