
.container {
  min-height: 100vh;
  font-family: "Assistant", sans-serif;
  color: #0046a5;
}

.inputCommon {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #facc15;
  background:  #facc15;
}

/* === כפתור סוגי אימון === */
.typesBtn {
  background: #facc15;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
  transition: 0.2s ease;
  color: #0046a5;
}

/* === תפריט סוגי אימון === */
.typesDropdown {
  margin-top: 10px;
  background: #fffef4;
  border: 1px solid #facc15;
  padding: 15px;
  border-radius: 12px;
}

/* === כל Row של צ'קבוקס === */
.typeCheckbox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}


/* === הטבלה === */
.pdTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.pdTable th {
  background: #ffe37e;
  padding: 15px;
  border-bottom: 2px solid #f4c438;
}

.pdTable td {
  border: 1px solid #eee;
  background: #fffef6;
  text-align: center;
  padding: 15px;
}

.pdTrainingBox {
  background: #fff4c7;
  border: 1px solid #f2cd6c;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.06);
}

/* === כפתורים === */
.pdAddBtnSmall {
  background: #ffe086;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.pdAddBtnSmall:hover {
  background: #ffd050;
}

.pdTrainingBox button {
  background: #ffb84d;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.pdSaveWrapper {
  text-align: center;
  margin-top: 20px;
}

.pdSaveBtn {
  background: #ffda6a;
  border: none;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.pdSaveBtn:hover {
  background: #ffc944;
}
