.pageWrapper {
  direction: rtl;
  font-family: "Assistant", sans-serif;
  min-height: 100vh;
  color: #0046a5;
}

/* כותרת קטגוריה */
.sectionTitle {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
  margin-right: 35px;
}

/* רשימת אימונים */
.trainingsList {
  margin: 20px;
  display: flex;
  flex-direction: column;
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
}

/* כרטיס אימון */
.trainingCard {
  background: white;
  padding: 18px 20px;
  border-radius: 12px;
  border: 2px solid #0046a5;
}

/* שדות בתוך כרטיס */
.row {
  font-size: 16px;
  margin-bottom: 6px;
}

.label {
  font-weight: 600;
  color: #facc15;
}

.value {
  margin-right: 6px;
}

/* הודעות */
.emptyMsg {
  margin-top: 10px;
  font-size: 16px;
  color: #080707;
}

/* טעינה / שגיאה */
.stateMsg {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #003a8c;
  text-align: center;
}


