.container {
  direction: rtl;
  font-family: "Assistant", sans-serif;
  color: #0046a5;
  min-height: 100vh;
}


.list {
   margin: 20px;
  display: flex;
  flex-direction: column;
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
}

/* ===== MODAL ===== */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBox {
  background: white;
  padding: 2rem;
  border-radius: 14px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
}
