

.header {
  direction: ltr;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  position: sticky;
  z-index: 20;
  box-shadow: 0 2px 4px rgba(76, 10, 232, 0.1);
}

.buttonsSection {
  display: flex;
  gap: 1rem;
}

.btnYellow {
  background-color: #facc15;
  color: #0046a5;
  font-weight: bold;
  padding: 0.6rem 1.4rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.btnYellow:hover {
  background-color: #eab308;
  transform: scale(1.05);
}


.navLinks {
  direction: rtl;  
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px; 
  text-align: center;
  margin-left: 28%;
}

.navLinks a {
  text-decoration: none;
  color: #0046a5;
  font-weight: 600;
  transition: color 0.3s ease;
 
}

.navLinks a.active {
  color: #f5c000;
  font-weight: 700;
}

.navLinks span {
  color: #0046a5;
  font-weight: bold;
}

.profileBtn {
  background-color: #f5c000;
  border: none;
  border-radius: 50%;
  padding: 15px;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #0046a5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profileBtn:hover {
  background-color: #ffde4d;
}

.name {
  font-size: 16px;
    font-weight: 300;
  margin-bottom: 6px;
}

.logoutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 320px;
}

/* רקע כהה שקוף */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* קופסת מודאל */
.modalBox {
  background: white;
  padding: 25px 35px;
  border-radius: 14px;
  text-align: center;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* טקסט */
.modalText {
  font-size: 18px;
  color: #0046a5;
  font-weight: 600;
  margin-bottom: 20px;
}

/* כפתורים */
.modalButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modalCancel {
  flex: 1;
  background: #0046a5;
  color: #facc15;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modalConfirm {
  flex: 1;
  background: #facc15;
  color: #0046a5;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}


