.footer {
    background-color: #0046a5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 7rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #ffffffdd;
    height: 7rem;
}